*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: 700;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.box{
    width: 30%;
    background-color: #33ed;
    padding:20px;
    margin: 10px;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px){
   .box{
       width: 47%;

   }
}

@media only screen and (max-width: 768px) {
.box{
    width: 100%;

}
}